@font-face {
  font-family: 'Black Widow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('BlackWidow.woff2') format('woff2'), 
       url('BlackWidow.woff') format('woff'); 
}

@font-face {
  font-family: 'Groovy Ghosties';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('groovy ghosties.woff2') format('woff2'), 
       url('groovy ghosties.woff') format('woff'); 
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: crosshair;

}

.wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.flex-container {
	display: flex;
	align-items: center;
  justify-content: center;
  width: 99,5%;
  height: 100%;
  scroll-snap-align: center;
}

.headline {
	font-family: "Groovy Ghosties";
	font-size: 48pt;
	/*letter-spacing: 5px;*/
}

.top {
	transform: translateX(10px);
}

a {
	font-family: "Courier New";
	font-size: 20pt;
	padding-left: 15px;
	text-decoration: none;
	color: black;
}

.button1 {
	position: fixed;
	top: 10px;
	left: 10px;
}

.links {
	position: relative; 
	width: 99vw;
	border-bottom: 1px dashed black;
	display: inline-block;
}



